.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .titulo {
    width: 100vw;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: brown;
    color: white;
    cursor: default;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px black;
    margin-top: 0;
}
.container .titulo h1 {
    font-size: 40px;
    letter-spacing: 5px;
}
.container .titulo h3 {
    font-weight: bold;
    letter-spacing: 5px;
}
.container .produtosSection {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.container .produtosArea {
    width: 77vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.container .produtoList {
    display: flex;
    flex-wrap: wrap;
}

.container .produtosArea .item {
    min-height: 270px;
    width: 236px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(70, 70, 70);
    border-radius: 5px;
    color: rgb(0, 0, 114);
    transition: all ease-in 0.2s;
    margin: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.container .produtosArea .item a {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container .produtosArea .item:hover {
    color: rgb(54, 54, 240);
}
.container .produtosArea .item .produtoImg {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .produtosArea .item .produtoImg img {
    cursor: pointer;
    margin-top: 10px;
    width: 95%;
}

.container .produtosArea .item .produtoName {
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
}

.container .produtosArea .zap {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 160px;
    height: 28px;
    background-color: rgb(5, 177, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    transition: all ease-in 0.1s;
}
.container .produtosArea .zap:hover {
    background-color: rgb(0, 126, 0);

}
.container .produtosArea .zap img {
    width: 20px;
    border-radius: 50%;
    margin: 5px;
}
.contatoArea {
    height: 30px;
    margin-bottom: 10px;
}

.categoriaAtual {
    color: rgb(0, 0, 114);
    font-weight: bold;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
.categoriaAtual span {
    font-size: 10px;
}
.container .categorias .itemName {
    margin-top: 5px;
    margin-bottom: 5px;
}
.container .categorias .itemName:hover {
    color: rgb(41, 41, 229);
}

.caminho {
    width: 85vw;
}


@media (max-width: 900px) {
    .container .titulo {
        margin-top: 20vh;
    }
    .container .produtosSection {
        flex-direction: column;
    }
    .container .titulo h1 {
        font-size: 30px;
    }
    .container .titulo h3 {
        font-size: 10px;
        text-align: center;
    }
    .container .produtosArea {
        width: 95vw;
        margin: 10px;
    }
    .container .produtosArea .item {
        width: 200px;
    }
    .container .produtosArea .item .produtoImg img {
        width: 180px;
    }
}