.nav {
    width: 100vw;
    height: 180px;
    color: white;
    z-index: 2;
    flex-direction: column;
    top: 0;
}

.nav .test {
    background-color: rgb(165, 42, 42);
    width: 100%;
    min-height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .test2 {
    background-color: whitesmoke;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px black;
    font-size: 13px;
}
.nav .test2 ul li {
    height: 63px;
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 1px;
}
.nav .test2 ul li .ul {
    background-color: white;
    top: 180px;
    width: 230px;
    min-height: 100px;
    position: absolute;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav .test2 ul li .ul li {
    width: 100%;
    height: 40px;
}
.nav .test2 ul li:hover {
    background-color: white;
}
.nav .test2 ul .line {
    width: 1px;
    background-color: rgb(161, 161, 161);
    height: 60px;
}

.parceriaArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 15%;
}

.nav .test .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


.nav .logo img {
    width: 60px;
    margin: 10px;
}

.nav .logo .logoName {
    text-align: right;
}
.nav .logo .logoName .cellNumber {
    font-size: 16px;
}

.socialArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    margin-right: 15%;
}

.socialArea .socialItens img {
    width: 30px;
    border-radius: 10px;
    margin: 10px;
}

.parceirosList {
    width: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.parceirosList div img {
    width: 30px;
    margin: 5px;
}

.nav .test2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.nav ul li {
    list-style: none;
    margin: 1px;
    cursor: pointer;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    color: rgb(0, 0, 114);
}

.nav ul li:hover {
    color: rgb(54, 54, 240);
}

.mobileMenu {
    display: none;
}

.mobileMenu div {
    height: 2px;
    width: 32px;
    background-color: orangered;
    margin: 10px;
}

.navlist {
    background-color: black;
    min-height: 80vh;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    right: 0;
    transition: transform 0.3s ease-in;
    position: fixed;
}

.verticalLine {
    height: 20vh;
    width: 1px;
    background-color: antiquewhite;
    display: none;
}

@media (max-width: 900px) {
    .nav {
        height: 20vh;
        position: fixed;
    }
    .nav .test {
        min-height: 100%;
    }

    .nav .test2 {
        display: none;
    }

    .nav .test .logo {
        font-size: 22px;
    }

    .nav .logo img {
        width: 50px;
        margin: 10px;
    }
    .nav .logo .logoName {
        text-align: center;
    }
    .nav .logo .logoName span {
        display: none;
    }
    .nav .logo .logoName .cellNumber {
        font-size: 13px;
    }

    .socialArea {
        margin-right: 4%;
    }

    .socialArea .socialItens img {
        width: 30px;
        margin: 4px;
    }

    .nav ul {
        display: none;
    }

    .mobileMenu {
        margin-left: 5%;
        display: block;
    }

    .navlist {
        display: flex;
    }

    .nav .test2 ul {
        display: none;
    }

    .parceriaArea {
        display: none;
    }

    .verticalLine {
        display: block;
    }
}

@media (max-width: 420px) {
    .mobileMenu {
        margin-left: 2%;
        display: block;
    }

    .socialArea {
        margin-right: 2%;
    }

}

@media (max-height: 610px) {}