.categorias {
    margin: 10px;
    width: 220px;
    height: 800px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 114);
    background-color: white;
    padding: 15px;
    margin-top: 10px;
}
.categorias h3 {
    font-weight: bold;
    border-bottom: 1px solid rgb(173, 173, 173);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.categorias a {
    margin-bottom: 0px;
}
.categorias a:hover {
    color: blue;
}

.categorias h4 {
    font-weight: bold;
    margin-top: 5px;
}